# Modify by oneself params: true or false
viewServerIP "172.20.10.13"

laserEnable true
mapEnable true
obsmapEnable true
x1qEnable true
x1cPCLEnable false
fastMapEnable false
mapexp3Dobs true

stuckmapEnable true
cleanedmapEnable true
obscleanedmapEnable true
gCostMapEnable true
lCostMapEnable true
dynamicEnable true
dstarmapEnable true

odomEnable true
gmOdomEnable true
amclOdomEnable true

trajEnable true
odomTrajEnable false
gmOdomTrajEnable false
nextLineEnable true
globalPathEnable true
districtShape true
robotTestAngle 10.0

particlesEnable true
gmapparticleEnable false
dstarMapEnable false

